<footer class="footer">
  <span class="todo-count">
    <strong>{{this.todos.incomplete.length}}</strong>
    {{if this.todos.todoCountIsOne "todo" "todos"}} left
  </span>

  <ul class="filters">
    <li>
      <LinkTo @route="index" data-test-all-link>All</LinkTo>
      <LinkTo @route="active" data-test-active-link>Active</LinkTo>
      <LinkTo @route="completed" data-test-completed-link>Completed</LinkTo>
    </li>
  </ul>

  <button type="button" class="clear-completed" {{on 'click' this.todos.clearCompleted}}>Clear Completed</button>
</footer>
