<span class="type" title="Type">
    <iconify-icon icon="{{this.itemType.icon}}" style="{{this.itemType.style}}"></iconify-icon>
    <EmberPopover> 
        <select class="item-type">
            <option>{{this.getName}}</option>
            <option>Movie</option>
            <option>Show</option>
            <option>Book</option>
            <option>Place</option>
    </select></EmberPopover>
</span>